{% load static %}

<link href="{% static "css/notfound.css" %}" rel="stylesheet">
<!DOCTYPE html>
<html>

<section class="page_404">
  <div class="container">
    <div class="row">
    <div class="col-sm-12 ">
    <div class="col-sm-10 col-sm-offset-1  text-center">
    <div class="four_zero_four_bg">
      <h1 class="text-center ">404</h1>


    </div>

    <div class="contant_box_404">
    <h3 class="h2">
    Страница, которую вы ищете, недоступна!
    </h3>
    <a href="{% url 'dashboard' %}" class="link_404">Вернуться на главную</a>
  </div>
    </div>
    </div>
    </div>
  </div>
</section>
</html>