{% extends "base.html" %}

{% block title %}Images bookmarked{% endblock %}

{% block content %}
    <h1 class="like-text">Публичные картинки пользователей</h1>
    <div id="image-list">
        {% include "images/image/list_all_images.html" %}
    </div>

    <h2 class="container-rating">Рейтинг по популярности</h2>
    <ol class="container-rating">
        {% for image in most_viewed %}
            <p>
                <a href="{{ image.get_absolute_url }}">
                    {{ image.title }}
                </a>
            </p>
        {% endfor %}
    </ol>
{% endblock %}
