{% extends "base.html" %}

{% block title %}Images bookmarked{% endblock %}

{% block content %}
    <h1 class="like-text">Мои личные закладки</h1>
    <div id="image-list">
        {% if images %}
            {% include "images/image/list_user_images.html" %}
            </div>
        {% else %}
            <div class="container">
                <h2 class="title-word">
                    <span class="title-word title-word-1">Сохраненных</span>
                    <span class="title-word title-word-2">закладок</span>
                    <span class="title-word title-word-3">пока что</span>
                    <span class="title-word title-word-4">нет</span>
                </h2>
            </div>
        {% endif %}
{% endblock %}
