{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %} <h1>Вход</h1>
    {% if form.errors %}
        <p>
            Ваше имя пользователя и пароль не совпали.
            Попробуйте снова.
        </p>
    {% else %}
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post"> {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти"></p>
        </form>

        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-outline-dark" href="{% url 'social:begin' 'google-oauth2' %}" role="button"
                   style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                    Вход с аккаунтом Google
                </a>
            </div>
        </div>

        <p><a href="{% url "password_reset" %}">
            Забыли свой пароль?
        </a></p>


        Если вы хотите зарегистрироваться, то можете
        <a href="{% url "register" %}"> сделать это здесь</a></p>

    </div>
{% endblock %}

