{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}Edit your account{% endblock %}
{% block content %}
    <h1 class="like-text">Редактирование профиля</h1>


    {% if user.profile.photo %}
        <a href="{{ user.get_absolute_url }}">
            <img class="user_edit_image"
                 src="
                     {% thumbnail user.profile.photo 200x200 %}">
        </a>
    {% else %}
        <svg class="default_image" width="200" height="200">
            <image href="{% static 'def_img/default.png' %}" height="100%" width="100%"
                   preserveAspectRatio="xMidYMid slice"/>
        </svg>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p>Так же ты можешь здесь<a
                href="{% url 'password_change' %}"> поменять свой пароль</a></p>
        <p><input type="submit" value="Save changes"></p>
    </form>


{% endblock %}