{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}Edit your account{% endblock %}
{% block content %}
    <h1 class="like-text">Редактирование профиля</h1>


    <a id="people-list" href="{{ user.get_absolute_url }}">
        <img src="

                {% if user.profile.photo %}{% thumbnail user.profile.photo 400x400 %}{% else %}{% static 'def_img/default.png' %}{% endif %}">
    </a>



    <form method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p>Так же ты можешь здесь<a
                href="{% url 'password_change' %}"> поменять свой пароль</a></p>
        <p><input type="submit" value="Save changes"></p>
    </form>


{% endblock %}