@import url(//fonts.googleapis.com/css?family=Jura);

body {
    margin: 0;
    padding: 0;
    font-family: "cursive", sans-serif;
}

p {
    line-height: 1.8;

}

a {

    color: darkblue;
    text-decoration: none;

}


a:hover {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

h1 {
    border-bottom: 2px solid #bbb;
    padding: 0 0 10px 0;
    margin: 10px 0 20px 0;
}

h2 {
    margin: 30px 0 20px;
}

ol {

    text-align: center;
    line-height: 2.3;
}

#header {
    padding: 14px 100px;
    font-size: 15px;
    font-family: Jura, sans-serif;
    background: #336699;
    color: #FFFF99;
    border-bottom: 4px solid #336699;
    overflow: auto;


}

#header .logo {
    font-family: 'Jura', sans-serif;
    float: left;
    color: wheat;
    font-size: 20px;
    margin-right: 10%;

}

#header ul.menu {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

#header ul.menu li {
    float: left;
    padding: 4px 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color: white;
    font-weight: bold;
}

#header a {
    color: #f3f7cc;

}

#header a:hover {
    color: #fff;

}

#header .user {
    float: right;
    padding-top: 4px;
}

#content {
    padding: 30px 100px;


}

/* forms */
form {

    background: white;
    overflow: auto;
}

form p {
    width: 100%;
    overflow: auto;

}

label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input, textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    border-radius: 5%;
    background: #efefef;
    padding: 6px 10px;
    font-size: 14px;

}

input[type=submit], a.button {
    font-family: Jura sans-serif;
    background: dodgerblue;
    color: white;
    padding: 10px 20px;
    font-size: 18px;

}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

.helptext {
    margin: 0 0 20px 0;
    color: #aaa;
    clear: both;
    float: left;
    font-size: 13px;
}

/* messages */
ul.messages {
    margin: 10px 100px;
    padding: 0;
    list-style-type: none;
}

ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    color: #fff;
}

ul.messages li.success {
    background: #81ce81;
}

ul.messages li.success a {
    color: #0ac33e;
}

ul.messages li.error {
    background: #a30029;
    color: #e9828e;
}

ul.messages li.error a {
    color: #e9828e;
}

ul.messages li.info {
    background: #faffae;
    color: #696b4e;
}

ul.messages li.info a {
    color: #1586de;
}

ul.messages li.warning {
    background: #de9404;
}

ul.messages li.warning a {
    color: #f49000;
}

ul.messages li a.close {
    margin: 0;
    float: right;
    opacity: 1;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

.login-form {
    float: left;
}

/* social-auth */
.social {
    float: right;
}

.social li {
    list-style: none;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

.social li a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}

.social li.facebook {
    background: #3b5399;
}

.social li.twitter {
    background: #00cffa;
}

.social li.google {
    background: #de1710;
}


/* images */

.image-preview, .image-detail {

    float: left;
    margin: 0 20px 20px 0;
    border-radius: 10%;

    max-width: 500px;


}

.image-detail {
    margin-top: 20px;

}

.image-info div {
    padding: 20px 0;
    overflow: auto;
}

.count {
    color: #aaa;
    border: 3px solid #bbb;
    border-radius: 26px;
    padding: 10px 20px;
    margin: 20px 10px 0;
}

a.like, a.follow {
    float: right;
    margin-top: -8px;
}

#image-list {
    max-width: 60%;
    grid-row: initial;
}

#image-list .image {
    float: left;
    width: 260px;
    height: 360px;
    margin: 0 10px 10px 10px;

    border-radius: 10%;

    box-shadow: inset 0 0 10px gray;

}

#image-list img {

    width: 260px;
    height: 280px;
    border-radius: 10%;

}

#image-list .info {
    padding: 10px;
    text-align: center;
    color: #333333;
}

#image-list .info a {
    color: #696b4e;
}

.row img {

}

.image-likes div {
    float: left;
    width: auto;
    padding: 10px;
    text-align: center;
}

.image-likes img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* users */
#people-list img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#people-list .user {
    width: 180px;
    float: left;
    overflow: auto;
    padding: 10px;
}

#people-list .info {
    text-align: center;
}

img.user-detail {
    border-radius: 10%;
    float: left;
}

img.user_edit_image {
    border-radius: 20%;

}

.profile-info {
    float: left;
    overflow: auto;
    margin-right: 20px;
}

.image-container {
    margin-top: 40px;
}

/* actions */
.action {
    clear: both;
    overflow: auto;
}

.action .images {
    float: left;
    margin: 0 10px 10px 0;
}

.action .date {
    font-style: italic;
    color: #ccc;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.like-text {
    font-family: "Roboto Light", sans-serif;
    color: dodgerblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)
}

button.button-mark {

    font-size: 16px;
    padding: 1em 3.3em;
    transform: perspective(200px) rotateX(15deg);
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(63, 94, 251, 1) 0%, rgba(70, 135, 252, 1) 100%);
    box-shadow: rgba(63, 94, 251, 0.2) 0px 40px 29px 0px;
    will-change: transform;
    transition: all 5s;
    border-bottom: 2px solid rgba(70, 135, 252, 1);
}


.container-rating {
    font-family: Jura, sans-serif;

    color: dodgerblue;
    text-align: center;
}

.default_image {
    border-radius: 5%;
}

.image_detail_a {
    float: left;

}

.division_desription_image {
    display: block;
    max-width: 300px;
    max-height: 200px;
    text-align: center;
    background: #fff;
    border-color: black;
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);


}